{
  "discord": {
    "clientId": ""
  },
  "mqtt": {
    "host": "mqtt://",
    "username": "",
    "password": ""
  },
  "plex": {
    "host": "",
    "key": "",
    "username": ""
  },
  "settings": {
    "excluded": []
  }
}
